input {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  margin-right: 10px;
}

input:focus {
  border-color: #007bff;
}

/* Add button */
button {
  padding: 10px 15px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #0056b3;
}